## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - windows
  - osx
julia:
  - 1.3
  - nightly
notifications:
  email: false
git:
  depth: 99999999

jobs:
  allow_failures:
    - julia: nightly
  include:
    - stage: "Documentation"
      julia: 1.3
      os: linux
      script:
        - julia --project=docs/ -e 'using Pkg; Pkg.develop(PackageSpec(path=pwd())); Pkg.instantiate()'
        - julia --project=docs/ docs/make.jl
      after_success: skip
      
## uncomment the following lines to override the default test script
script:
 - travis_wait 30 julia --color=yes -e 'using Pkg; Pkg.activate(); Pkg.instantiate(); Pkg.test()'
