img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a code {
  color: #2980b9;
  background-color: #badaf038
}

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

blockquote {
    padding: 0px 10px;
    border-left: 5px solid #eee;
}