name: CI
on:
  pull_request:
    branches:
      - master
    types:
      - labeled
      - opened
      - edited
      - reopened
      - synchronize
  push:
    branches:
      - master
    tags: '*'
jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} - ${{ github.event_name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        version:
          - '1.6'
          - '1'
        os:
          - ubuntu-latest
        arch:
          - x64
        python-version:
          - '3.8'
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 100
      - name: Setup python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.arch }}
      - run: python -m pip install --user gym
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: actions/cache@v1
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-

      - uses: marceloprado/has-changed-path@v1
        id: RLBase-changed
        with:
          paths: src/ReinforcementLearningBase

      - name: Test RLBase
        if: (steps.RLBase-changed.outputs.changed == 'true') || (contains(github.event.pull_request.labels.*.name, 'Integration Test'))
        run: |
          julia --color=yes -e '
            using Pkg;
            Pkg.develop(path="src/ReinforcementLearningBase")
            Pkg.test("ReinforcementLearningBase")'

      - uses: marceloprado/has-changed-path@v1
        id: RLCore-changed
        with:
          paths: src/ReinforcementLearningCore

      - name: Test RLCore
        if: (steps.RLCore-changed.outputs.changed == 'true') || (contains(github.event.pull_request.labels.*.name, 'Integration Test'))
        run: |
          julia --color=yes -e '
            using Pkg;
            Pkg.develop(path="src/ReinforcementLearningCore")
            Pkg.test("ReinforcementLearningCore")'

      - uses: marceloprado/has-changed-path@v1
        id: RLZoo-changed
        with:
          paths: src/ReinforcementLearningZoo

      - name: Test RLZoo
        if: (steps.RLZoo-changed.outputs.changed == 'true') || (contains(github.event.pull_request.labels.*.name, 'Integration Test'))
        run: |
          julia --color=yes -e '
            using Pkg;
            Pkg.develop(path="src/ReinforcementLearningZoo")
            Pkg.test("ReinforcementLearningZoo")'

      - uses: marceloprado/has-changed-path@v1
        id: RLEnvironments-changed
        with:
          paths: src/ReinforcementLearningEnvironments

      - name: Test RLEnvironments
        if: (steps.RLEnvironments-changed.outputs.changed == 'true') || (contains(github.event.pull_request.labels.*.name, 'Integration Test'))
        run: |
          julia --color=yes -e '
            using Pkg;
            Pkg.develop(path="src/ReinforcementLearningEnvironments")
            Pkg.test("ReinforcementLearningEnvironments")'

      - uses: marceloprado/has-changed-path@v1
        id: RLDatasets-changed
        with:
          paths: src/ReinforcementLearningDatasets

      - name: Test RLDatasets
        if: (steps.RLDatasets-changed.outputs.changed == 'true') || (contains(github.event.pull_request.labels.*.name, 'Integration Test'))
        run: |
          julia --color=yes -e '
            using Pkg;
            Pkg.develop(path="src/ReinforcementLearningDatasets")
            Pkg.test("ReinforcementLearningDatasets")'

      - uses: marceloprado/has-changed-path@v1
        id: RLExperiments-changed
        with:
          paths: src/ReinforcementLearningExperiments

      - name: Test RLExperiments
        if: (steps.RLZoo-changed.outputs.changed == 'true') || (steps.RLExperiments-changed.outputs.changed == 'true') || (contains(github.event.pull_request.labels.*.name, 'Integration Test'))
        run: |
          julia --color=yes -e '
            using Pkg;
            Pkg.develop(path="src/ReinforcementLearningExperiments")
            Pkg.build("ReinforcementLearningExperiments")
            Pkg.test("ReinforcementLearningExperiments")'

  docs:
    name: Documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
          architecture: ${{ matrix.arch }}
      - run: python -m pip install --user matplotlib
      - uses: julia-actions/setup-julia@v1
        with:
          version: '1.6'
      - name: Build homepage
        run: |
          cd docs/homepage
          julia --project --color=yes -e '
            using Pkg; Pkg.instantiate();
            using NodeJS; run(`$(npm_cmd()) install highlight.js`);
            using Franklin;
            optimize()' > build.log

      - name: Make sure homepage is generated without error
        run: |
          if grep -1 "Franklin Warning" build.log; then
            echo "Franklin reported a warning"
            exit 1
          else
            echo "Franklin did not report a warning"
          fi

      - name: Build docs
        run: |
          cd docs
          julia --project --color=yes -e '
            using Pkg; Pkg.instantiate();
            include("make.jl")'
          mv build homepage/__site/docs

      - name: Deploy to the main repo
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.event_name == 'push' }}
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          external_repository: JuliaReinforcementLearning/JuliaReinforcementLearning.github.io
          force_orphan: true
          publish_branch: master
          publish_dir: ./docs/homepage/__site
