name: SpellCheck

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  spellchecking:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: Check out the code
      - uses: actions/setup-node@v1
        name: Run spell check
        with:
          node-version: "14"
      - run: npm install -g cspell
      - run: cspell --config ./.cspell/cspell.json "**/*.jl" "**/*.md"